#testimonials {
  height: 600px;
  padding-top: 100px;
}
#testimonials h2 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
#testimonials .testimonials {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonials img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
